canvas {
    border: 15px;
    margin: 20px;
    padding: 30;
}

.h1 {
    box-shadow: 10px;
    padding: 30;
    margin: 20px;
    border: 15px;
    text-align: middle;
    margin-right: 50%;
}

.h4 {
    box-shadow: 10px;
    padding: 30;
    margin: 20px;
    border: 15px;
    text-align: middle;
    margin-right: 50%;
}
